.root{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

#menuBackground{
    -fx-background-image: url('../art/ui/background.png');
}

#tableBackground{
    -fx-background-image: url('../art/table/table_bg.png');
}

#menuBackground, #tableBackground{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 0, 0, 4, 4);

    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-text-fill: #5E5B8C;
    -fx-min-width: 230px;
    -fx-min-height: 70px;
}

.player-container {
    -fx-background-image: url('../art/player/player_board.png');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-max-width: 258px;
    -fx-max-height: 258px;
    -fx-min-width: 258px;
    -fx-min-height: 258px;
}

.player-name, .player-total, .player-action{
    -fx-text-fill: #FFFFFF;
}
.player-name{
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.player-total{
    -fx-font-size: 20px;
}

.player-action{
    -fx-font-size: 13px;
}