.root{
    -fx-font-size: 28px;
}

#menuBackground{
    -fx-background-image: url('../art/ui/background.png');
}

#tableBackground{
    -fx-background-image: url('../art/table/table_bg.png');
}

#menuBackground, #tableBackground{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 0, 0, 4, 4);

    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-text-fill: #5E5B8C;
    -fx-min-width: 230px;
    -fx-min-height: 70px;
}
